/* Estilos generales */
.solicitud-turno-container {
    background-color: #349cb6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .profesionales-container,
  .especialidades-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
.btn-profesional img {
  width: 40px; /* Reduce the width */
  height: 40px; /* Reduce the height */
  border-radius: 50%;
}

.btn-profesional span {
  margin-top: 5px;
}

.btn-especialidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  width: 150px; /* Ajusta el ancho del botón según tus necesidades */
  height: 150px; /* Ajusta la altura del botón según tus necesidades */
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden; /* Para recortar la imagen si es necesario */
}

/* estilos.css */
/* estilos.css */

.btn-fecha.seleccionado {
  background-color: #007bff;
  color: white;
}

.btn-hora.seleccionado {
  background-color: #007bff;
  color: white;
}


.btn-especialidad img {
  max-width: 100%; /* Asegura que la imagen no sobrepase el tamaño del botón */
  max-height: 100%; /* Asegura que la imagen no sobrepase el tamaño del botón */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio disponible */
}


.btn-especialidad span {
  flex-grow: 1;
}
  /* Estilos para los campos de formulario */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  select,
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Estilos para el botón */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Animaciones */
  .solicitud-turno-container {
    transition: transform 0.3s ease;
  }
  
  .solicitud-turno-container:hover {
    transform: scale(1.02);
  }
  