<body  appHoverTrace >
  <div class="login-container" >
    <!-- Contenedor del acceso rápido a la izquierda -->
    <div class="quick-access-container">
      <h3>Acceso Rápido</h3>
      <div class="quick-access-buttons">
        <button (click)="setQuickAccess('admin')" class="quick-access-button" appHoverBackground>
          <img src="assets/administrador.png" alt="Admin">
        </button>
        <button (click)="setQuickAccess('especialista')" class="quick-access-button" appHoverBackground>
          <img src="assets/Dentista.png" alt="Especialista">
        </button>
        <button (click)="setQuickAccess('especialista2')" class="quick-access-button" appHoverBackground>
          <img src="assets/Especialista.png" alt="Especialista 2">
        </button>
        <button (click)="setQuickAccess('paciente1')" class="quick-access-button" appHoverBackground>
          <img src="assets/PacienteUno.png" alt="Paciente 1">
        </button>
        <button (click)="setQuickAccess('paciente2')" class="quick-access-button" appHoverBackground>
          <img src="assets/PacienteDos.png" alt="Paciente 2">
        </button>
        <button (click)="setQuickAccess('paciente3')" class="quick-access-button" appHoverBackground>
          <img src="assets/PacienteTres.png" alt="Paciente 3">
        </button>
        
      </div>
    </div>

    <!-- Formulario de inicio de sesión -->
    <div class="login-form">
      <p>{{ 'inicio de sesion ' | capitalize }}</p>
      <form (ngSubmit)="login()">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Iniciar Sesión</button>
      </form>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <div *ngIf="loading$ | async" class="loading-overlay">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</body>
