<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let especialista of especialistas">
      <td>{{ especialista.nombre }}</td>
      <td>{{ especialista.apellido }}</td>
      <td>{{ especialista.email }}</td>
      <td>
        <button (click)="habilitarUsuario(especialista.id, !especialista.habilitado)">
          {{ especialista.habilitado ? 'Deshabilitar' : 'Habilitar' }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
