<div>
  <label for="filtro">Filtrar por:</label>
  <input type="text" id="filtro" [(ngModel)]="filtroEspecialidad" placeholder="Especialidad">
  <input type="text" id="filtro" [(ngModel)]="filtroEspecialista" placeholder="Especialista">
  <button (click)="buscarTurnos()">Buscar</button>
</div>

<div *ngIf="turnosFiltrados && turnosFiltrados.length > 0">
  <!-- Lista de turnos -->
  <div *ngFor="let turno of turnosFiltrados">
    <p>Especialidad: {{ turno.especialidadId }}</p>
    <p>Especialista: {{ turno.especialistaId }}</p>
    <p>Fecha: {{ turno.fecha }}</p>
    <p>Hora: {{ turno.hora }}</p>
    <p>Estado: {{ turno.estado }}</p>
    <button *ngIf="mostrarCancelar(turno.estado)" (click)="cancelarTurno(turno.id)">Cancelar Turno</button>
  </div>
</div>
