<div appHoverTrace>
  <label for="buscar">Buscar por Especialidad o Especialista:</label>
  <input type="text" id="buscar" [(ngModel)]="filtroBusqueda" (input)="buscarTurnos()" placeholder="Ingrese especialidad o especialista">
</div>

<div   class="lista-turnos" *ngIf="turnosFiltrados && turnosFiltrados.length > 0">
  <div class="turno" *ngFor="let turno of turnosFiltrados">
    <p>  Especialidad: {{ turno.especialidadId }} </p>
    <p>Especialista: {{ turno.especialistaNombre }}</p>
    <p>Fecha: {{ turno.fecha }}</p>
    <p>Hora: {{ turno.hora }}</p>
    <p>Estado: {{ turno.estado }}</p>
    <div class="modal-buttons">
      <div *ngIf="puedeCancelar(turno)">
        <button (click)="confirmarCancelarTurno(turno.turnoId)">Cancelar Turno</button>


      </div>
    </div>
  </div>
</div>
