/* Estilos generales */
div {
  margin-bottom: 20px;
}

/* Estilos para el contenedor de búsqueda */
div[appHoverTrace] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #8aa8eb;
  border-radius: 8px;
  background-color: #8aa8eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilos para la etiqueta */
label {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

/* Estilos para el campo de entrada de texto */
input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]::placeholder {
  color: #999;
}

/* Estilos para el campo de entrada de texto en foco */
input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}


input[type="text"] {
  width: calc(100% - 20px); /* Calcular el ancho restando el padding */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para la lista de turnos */
.lista-turnos {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.turno {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #60abce; /* Color de fondo del turno */
}

.turno p {
  margin: 5px 0;
  font-size: 14px; /* Tamaño de fuente para los detalles del turno */
}

/* Estilos para los botones en la lista de turnos */
.turno button {
  padding: 6px 12px; /* Espaciado interno de los botones */
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.turno button:hover {
  background-color: #0056b3;
}

/* Estilos para el modal de cancelar turno */
.modal-cancelar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #c4e2ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 8px;
}

.modal-buttons {
  margin-top: 16px;
  text-align: right;
}

.modal-buttons button {
  margin-left: 8px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #cbdbf1;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}
